.topheader {
	display: flex;
	padding: 10px 20px;
}

.logo-sec, .acount-sec {
	flex: 0 0 50%;
}

.acount-sec {
	display: flex;
	justify-content: end;
}

.acount-sec .upload {
	align-items: center;
	display: flex;
	min-width: 140px;
}

.acount-sec .upload svg {
	padding-right: 8px;
}

.acount-sec button {
	display: flex;
	align-items: center;
	min-width: 100px;
	justify-content: center;
	padding: 3px 10px;
	border: 1px solid #000;
	border-radius: 3px;
}

.header {
	padding: 10px 20px;
	font-size: 24px;
	font-weight: 600;
	color: #1d72ce;
}

.MUIDataTableToolbar-actions-17 {
	display: flex;
	justify-content: right;
	align-items: center;
}

.MUIDataTableToolbar-actions-17 button .MuiSvgIcon-root {
	font-size: 36px;
	color: #1d72ce;
}

.MUIDataTableToolbar-actions-17 select {
	border: 0px;
	border-bottom: 3px solid #e1e1e1;
	padding: 5px;
	min-width: 110px;
	font-size: 16px;
	color: #afafaf;
	font-style: italic;
	appearance: none;
}

.MUIDataTableToolbar-actions-17 select:after {
	content: '\f078';
}

.MUIDataTable-responsiveBase-5 {
	padding: 10px 20px;
}

.MUIDataTable-responsiveBase-5 .MUIDataTable-tableRoot-4 {
	border: 3px solid #000;
}

.MUIDataTable-responsiveBase-5 thead tr th {
	border-bottom: 3px solid #000;
}

.MUIDataTable-responsiveBase-5 thead tr th {
	background: #74b7ff;
}

.MUIDataTable-responsiveBase-5 thead tr th .MuiButton-root {
	font-size: 18px;
	font-weight: 600;
}

.MUIDataTableBodyCell-root-67 svg{
	font-size: 18px;
	margin: 0 5px;
}